.reveal img.noframe {
	border: 0px solid black;
	background: none;
	box-shadow: none;
}

.reveal strong{
	color: #a40000;
}

.reveal h1, .reveal h2, .reveal h3, .reveal h4, .reveal h5, .reveal h6{
	line-height: 0.95em;
}
.reveal tt{
	font-family: DejaVu Sans Mono, Courier, monospace;
	font-size: smaller;
}
.reveal .fa {
  font-family: 'FontAwesome';
  font-style: normal;
}

.reveal img{
	max-width: 80%;
}


.reveal .slides section .fragment.highlight-red.visible{
	color: #383d3d;
}
.reveal .slides section .fragment.highlight-red.current-fragment {
	color: #a40000;
}

.reveal section:not(.frontpage) a:not(.image):not(.noicon):after{
	content: "❋";
	vertical-align: super;
	font-size: 0.4em;
}

.reveal section .frame{
	background-color: rgba(250,250,250,0.9);
	padding: 40px 0;
}